@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: 'Lato', sans-serif;
  line-height: 1.4em;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-family: 'Josefin Slab', sans-serif;
}

h1 {
  font-size: 4em;
}

h2 {
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

header {
  color: white;
  background-color: #666666;
  margin: 0;
  padding: 2em 1em 2em 1em;
  text-align: center;
}

main {
  max-width: 50em;
  margin: 0 auto;
}

footer {
  color: white;
  background-color: #666666;
  margin-top: 3em;
  padding: 1.5em 1em;
  text-align: center;
}

footer p {
  margin-bottom: 0em
}

footer ul {
  padding: 0em;
  margin-bottom: 0.5em;
}

footer li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  margin: 0em 0.75em;
}

.billboard {
  background-image: url(http://placehold.it/2000x2000);
  color: white;
  padding: 8em 1em;
  text-align: center;
  margin-bottom: 2em;
}

.button {
  background-color: #adadad;
  color: white;
  margin: 1em 2em;
  padding: 1em;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

.preview-img {
  border-radius: 100%;
  max-height: 9em ;
  margin: 0 auto;
  text-align: center;
}
