@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: 'Lato', sans-serif;
  line-height: 130%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-family: 'Josefin Slab', sans-serif;
}

h1 {
  font-size: 3em;
  line-height: 100%;
  margin: auto;
}

h2 {
  margin-top: 2em;
  text-align: center;
}

a {
  text-decoration: none;
}

header {
  margin: 0;
  padding: 1em 1em 1em 1em;
  text-align: center;
}

header img {
  max-width: 6em;
  margin: 0.5em 0em ;
}

header li {
  margin-bottom: 1em;
}

header li a {
  color: #af8b18;
  transition: all 150ms linear;
  padding: 0.5em 0.75em;
}

header li a:hover {
  background-color: #af8b18;
  color: white;
}

main {
  margin: auto;
}

.default-margin {
  max-width: 50em;
  padding: 0em 2em;
  margin: auto;
}

strong {
  color: #af8b18;
}

footer {
  color: white;
  background-color: #414042;
  margin-top: 3em;
  padding: 1.5em 1em;
  text-align: center;
}

footer p {
  margin-bottom: 0em;
  font-size: 50%;
}

footer ul {
  padding: 0em;
  margin-bottom: 0.5em;
}

footer li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  margin: 0em 0.75em;
}

footer img {
  height: 50px;
}

.profile {
  max-width: 250px;
  margin: 1em;
}

.main-billboard {
  background-image: url("../images/main-billboard.jpg");
  background-repeat: no-repeat;
  background-color: black;
  color: white;
  padding: 11em 1em;
  text-align: center;
  margin-bottom: 2em;
}

.main-billboard p {
  font-size: 2em;
  font-family: 'Josefin Slab', sans-serif;
  line-height: 100%;
  text-shadow:
   -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
     0.5px 0.5px 0 #000;
}

.mini-billboard,
.contact-billboard,
.portfolio-billboard,
.overeasy-billboard,
.saas-website-billboard,
.grip-billboard,
.grace-in-the-kitchen-billboard {
  color: white;
  padding: 4em 1em;
  text-align: center;
  margin-bottom: 2em;
  background-repeat: no-repeat;
  background-position: center;
}

.mini-billboard p,
.contact-billboard p,
.portfolio-billboard p,
.overeasy-billboard p,
.saas-website-billboard p,
.grip-billboard p,
.grace-in-the-kitchen-billboard p{
  font-size: 2em;
  padding: 1em;
  font-family: 'Josefin Slab', sans-serif;
  line-height: 100%;
  text-shadow:
   -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
     0.5px 0.5px 0 #000;
}

.error-billboard {
  background-image: url("../images/404.gif");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  font-size: 2em;
  font-family: 'Josefin Slab', sans-serif;
  line-height: 100%;
  color: white;
  padding: 6em 1em;
  text-align: center;
  margin-bottom: 2em;
  max-width: 75em;
}

.error-text {
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.mini-billboard {
  background-image: url(http://placehold.it/2000x2000);
}

.contact-billboard {
  background-color: black;
}

.portfolio-billboard {
  background-color: black;
}

.overeasy-billboard {
  background-color: orange;
}

.saas-website-billboard {
  background-color: green;
}

.grace-in-the-kitchen-billboard {
  background-image: url("../images/gitk/gitk-billboard.jpg");
}

.grip-billboard {
  background-image: url("../images/grip/grip-billboard.jpg")
}

.button {
  background-color: #626262;
  color: white;
  margin: 1em 2em auto;
  max-width: 12em;
  padding: 0.75em;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  transition: all 112ms linear;
}

.button:hover {
  background-color: #af8b18;
}

hr {
  margin: 3em;
}

.top-portfolio {
  margin-top: 3em;
}

.portfolio-preview img {
  max-width: 200px;
  max-height: 300px;
  margin: 1em auto;
  text-align: center;
  display: inline-block;
}

.portfolio-button {
  background-color: #626262;
  color: white;
  margin: 1.5em 0em;
  padding: 0.75em;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  transition: all 112ms linear;
  line-height: 200%;
  padding: 0.5em;
  overflow: hidden;
}

.portfolio-button:hover {
  background-color: #af8b18;
}


.portfolio-preview p {
  overflow: hidden;
}

.first-img {
  padding: 1em;
  margin: 0em;
}

.contact {
  font-size: 150%;
  text-align: center;
}

.contact a{
  margin-top: 1em;
  color: #af8b18;
}

.dead-button {
  background-color: #626262;
  color: white;
  margin: 1.5em 0em;
  padding: 0.75em;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  line-height: 200%;
  padding: 0.5em;
  overflow: hidden;
}


.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  margin: 2em 0em;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 605px) {

  .float-left {
    float: left;
    padding-right: 1em;
  }

  .float-right {
    float: right;
    padding-left: 1em;
  }

}



@media only screen and (min-width: 605px) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  header img {
    margin: 0.5em 0.5em 0.12em 0.5em;
  }

  .billboard {
    padding: 10em 6em;
  }

  .mini-billboard {
    padding: 6em 4em;
  }



}

@media only screen and (min-width: 960px) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .billboard {
    padding: 12em 8em;
  }


  .mini-billboard {
    padding: 6em 8em;
  }

}
