<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link rel="shortcut icon" href="{{site.baseurl}}/images/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:300,400|Lato:400,400i,700" rel="stylesheet">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="description" content="{{page.meta}}">
</head>
<body>


  <header>
    <h1 class="unit xs-1 s-1 m-1 l-1"><a href="{{site.baseurl}}/index"><img src="{{site.baseurl}}/images/wordmark.svg"></a></h1>
    <ul class="grid grid-middle nav">
      <li class="unit xs-1-2 s-1-2 m-1-2 l-1-2 xl-1-2"><a href="{{site.baseurl}}/portfolio-main">Portfolio</a></li>
      <li class="unit xs-1-2 s-1-2 m-1-2 l-1-2 xl-1-2"><a href="{{site.baseurl}}/contact">Contact</a></li>
    </ul>
  </header>

  <main>
    {{content}}
  </main>

  <footer>
    <ul>
      <li><a href="mailto:rachelgglennie@gmail.com?Subject=Hi%20There!"><img src="http://placehold.it/60x60" alt="An icon of a letter."></a></li>
      <li><a href="https://www.behance.net/rachelgglennie"><img src="http://placehold.it/60x60" alt="The Behance logo."></a></li>
      <li><a href="https://www.linkedin.com/in/rachel-glennie"><img src="http://placehold.it/60x60" alt="The LinkedIn logo."></a></li>
    </ul>

    <p class="micro">Copyright © 2016 Rachel Glennie</p>

  </footer>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  <script src="js/main.js"></script>

</body>
</html>
